
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-YUo {
  box-sizing: border-box;
  padding: 7.3rem 0rem 25rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-3-YUo .category-archives-craft-ideas-Fu1 {
  margin: 0rem 0rem 11.3rem 2.9rem;
  font-size: 9.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.2099999934);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-YUo .find-easy-diy-crafts-projects-to-make-over-the-weekend-or-during-a-night-with-friends-each-project-comes-with-instructions-and-a-supply-list-wWw {
  margin-bottom: 15.2rem;
  max-width: 130.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-adbd-bbV {
  margin: 0rem 6.8rem 10.6rem 6rem;
  width: calc(100% - 12.8rem);
  height: 20.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-adbd-bbV .auto-group-titf-vNs {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 3.5rem 6.7rem 2.1rem 5.5rem;
  width: 22.1rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-y9Z.png');
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-adbd-bbV .auto-group-titf-vNs .sep-2024-Ss1 {
  max-width: 9.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .auto-group-adbd-bbV .auto-group-a5jd-Kvo {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-adbd-bbV .auto-group-a5jd-Kvo .diy-skeleton-decor-with-flowers-tU7 {
  margin-bottom: 3.8rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-adbd-bbV .auto-group-a5jd-Kvo .posted-indiy-halloween-craft-ideas-cQ7 {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-adbd-bbV .auto-group-a5jd-Kvo .posted-indiy-halloween-craft-ideas-cQ7 .posted-indiy-halloween-craft-ideas-cQ7-sub-0 {
  font-size: 6.4rem;
  font-weight: 100;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .auto-group-adbd-bbV .auto-group-a5jd-Kvo .posted-indiy-halloween-craft-ideas-cQ7 .posted-indiy-halloween-craft-ideas-cQ7-sub-1 {
  font-size: 6.4rem;
  font-weight: 100;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #be223e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .image-1-aNs {
  margin: 0rem 0rem 66.1rem 11.5rem;
  width: 125.7rem;
  height: 116rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-vndd-uR9 {
  margin: 0rem 76.5rem 1.9rem 1.9rem;
  width: calc(100% - 78.4rem);
  height: 20.2rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-vndd-uR9 .auto-group-cixh-ETR {
  margin-right: 4.6rem;
  box-sizing: border-box;
  padding: 2.9rem 4.6rem 2.7rem 7.6rem;
  width: 22.1rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-zVD.png');
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-vndd-uR9 .auto-group-cixh-ETR .jun-2024-N3q {
  max-width: 9.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .auto-group-vndd-uR9 .posted-in-craft-ideas-4ST {
  margin-bottom: 3.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-vndd-uR9 .posted-in-craft-ideas-4ST .posted-in-craft-ideas-4ST-sub-0 {
}
.desktop-3-YUo .auto-group-vndd-uR9 .posted-in-craft-ideas-4ST .posted-in-craft-ideas-4ST-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .indoor-plant-ring-trellis-1-ooM {
  margin: 0rem 0rem 4.1rem 7.5rem;
  width: 130.9rem;
  height: 130.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-YUo .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh {
  margin: 0rem 0rem 22.2rem 3.4rem;
  max-width: 132.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-3-YUo .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-0 {
}
.desktop-3-YUo .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-2 {
}
.desktop-3-YUo .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-3 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-4 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-3-YUo .auto-group-vfbd-QEj {
  margin: 0rem 7rem 0rem 7.1rem;
  width: calc(100% - 14.1rem);
  height: 15.5rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-3-YUo .auto-group-vfbd-QEj .we-are-always-exploring-more-and-more--Xq9 {
  width: 129.9rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-YUo .auto-group-vfbd-QEj .upcycling-project-items-2024-qqq {
  width: 93.7rem;
  height: 7.8rem;
  position: absolute;
  left: 30.1rem;
  top: 7.7rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
