
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-VHH {
  width: 100%;
  height: 298.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-5-VHH .auto-group-ssd9-Ekf {
  width: 77.8rem;
  height: 12.9rem;
  position: absolute;
  left: 0.9rem;
  top: 18.6rem;
  display: flex;
  align-items: flex-end;
}
.desktop-5-VHH .auto-group-ssd9-Ekf .auto-group-momh-yTM {
  margin: 0rem 1.3rem 0.8rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 3.3rem 2.1rem 3.4rem;
  width: 15.2rem;
  height: 12.1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2-rVu.png');
  flex-shrink: 0;
}
.desktop-5-VHH .auto-group-ssd9-Ekf .auto-group-momh-yTM .aug-2023-5mH {
  max-width: 8.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-ssd9-Ekf .auto-group-7mjx-ksR {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-5-VHH .auto-group-ssd9-Ekf .auto-group-7mjx-ksR .diy-scrapbook-paper-pumpkins-7xs {
  margin: 0rem 0rem 2.7rem 0.2rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-VHH .auto-group-ssd9-Ekf .auto-group-7mjx-ksR .posted-in-fall-crafts-2a3 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-5-VHH .auto-group-ssd9-Ekf .auto-group-7mjx-ksR .posted-in-fall-crafts-2a3 .posted-in-fall-crafts-2a3-sub-0 {
}
.desktop-5-VHH .auto-group-ssd9-Ekf .auto-group-7mjx-ksR .posted-in-fall-crafts-2a3 .posted-in-fall-crafts-2a3-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-tucw-ojD {
  width: 125.7rem;
  height: 12.1rem;
  position: absolute;
  left: 2.9rem;
  top: 140.2rem;
  display: flex;
  align-items: flex-start;
}
.desktop-5-VHH .auto-group-tucw-ojD .auto-group-crp5-i5V {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding: 2.8rem 3.7rem 1.5rem 3.4rem;
  width: 15.2rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-CH5.png');
  flex-shrink: 0;
}
.desktop-5-VHH .auto-group-tucw-ojD .auto-group-crp5-i5V .july-2024-SXH {
  max-width: 8.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B {
  max-width: 109rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B-sub-0 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B-sub-1 {
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B-sub-2 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B-sub-3 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B-sub-4 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B-sub-5 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .auto-group-tucw-ojD .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B .diy-floral-embroidery-hoop-wreath-posted-inseasonal-craftssummer-craftsbymake-something-mondays-k2B-sub-6 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-VHH .likewise-you-can-boost-your-creativity-with-your-items-AGF {
  width: 83.8rem;
  height: 3.9rem;
  position: absolute;
  left: 6.5rem;
  top: 274.3rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #711f2e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-VHH .upcycling-projects-2024-46j {
  width: 40.7rem;
  height: 3.9rem;
  position: absolute;
  left: 46.6rem;
  top: 279.9rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
