
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-Gym {
  box-sizing: border-box;
  padding: 7.9rem 8.7rem;
  width: 100%;
  height: 123.3rem;
  overflow: hidden;
  position: relative;
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #c5b1ef -0%, #7c6e99 100%);
}
