
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 107.5rem;
}.find-easy-seasonal-craft-projects-to-make-over-the-weekend-or-during-a-diy-night-with-friends-each-project-comes-with-instructions-and-a-supply-list-QnB {
  width: 100%;
  height: 5.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
