
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.3rem;
}.pawan-yadav-mithkhali-six-road-navrangpura-gujrat-380009-email-pawanydv286gmailcom-connect-and-share-and-get-ideas-6R5 {
  width: 100%;
  height: 81.5rem;
  font-size: 9.6rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
