
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-YUo {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 7.3rem 0rem 25rem 0rem;
  width: 100%;
  overflow: hidden;

  .category-archives-craft-ideas-Fu1 {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 11.3rem 2.9rem;
    font-size: 9.6rem;
    font-weight: 600;
    line-height: 1.2125;
    color: rgba(0, 0, 0, 0.2099999934);
  }
  .find-easy-diy-crafts-projects-to-make-over-the-weekend-or-during-a-night-with-friends-each-project-comes-with-instructions-and-a-supply-list-wWw {
    margin-bottom: 15.2rem;
    max-width: 130.7rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .auto-group-adbd-bbV {
    margin: 0rem 6.8rem 10.6rem 6rem;
    width: calc(100% - 12.8rem);
    height: 20.2rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-titf-vNs {
      margin-right: 3.9rem;
      box-sizing: border-box;
      width: 22.1rem;
      background-size: cover;
      background-position: center;
      padding: 3.5rem 6.7rem 2.1rem 5.5rem;
      height: 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:25:63');
      flex-shrink: 0;

      .sep-2024-Ss1 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        max-width: 9.9rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .auto-group-a5jd-Kvo {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .diy-skeleton-decor-with-flowers-tU7 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.8rem;
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2125;
      }
      .posted-indiy-halloween-craft-ideas-cQ7 {
        font-size: 6.4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-weight: 600;
        line-height: 1.2102272511;
        color: #000000;
        align-items: baseline;

        .posted-indiy-halloween-craft-ideas-cQ7-sub-0 {
          font-size: 6.4rem;
          font-weight: 100;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .posted-indiy-halloween-craft-ideas-cQ7-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 100;
          line-height: 1.2125;
          text-decoration-line: underline;
          color: #be223e;
        }
      }
    }
  }
  .image-1-aNs {
    flex-shrink: 0;
    margin: 0rem 0rem 66.1rem 11.5rem;
    width: 125.7rem;
    height: 116rem;
    object-fit: cover;
    vertical-align: top;
  }
  .auto-group-vndd-uR9 {
    height: 20.2rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 76.5rem 1.9rem 1.9rem;
    width: calc(100% - 78.4rem);

    .auto-group-cixh-ETR {
      box-sizing: border-box;
      width: 22.1rem;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:25:68');
      margin-right: 4.6rem;
      background-repeat: no-repeat;
      flex-shrink: 0;
      padding: 2.9rem 4.6rem 2.7rem 7.6rem;

      .jun-2024-N3q {
        max-width: 9.9rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .posted-in-craft-ideas-4ST {
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      color: #000000;
      display: flex;
      align-items: baseline;
      margin-bottom: 3.7rem;
      font-size: 4rem;

      .posted-in-craft-ideas-4ST-sub-0 {
      }
      .posted-in-craft-ideas-4ST-sub-1 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #711f2e;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .indoor-plant-ring-trellis-1-ooM {
    margin: 0rem 0rem 4.1rem 7.5rem;
    width: 130.9rem;
    height: 130.9rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh {
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 22.2rem 3.4rem;
    max-width: 132.4rem;
    font-size: 4rem;
    font-weight: 400;

    .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-0 {
    }
    .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-1 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-2 {
    }
    .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-3 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #711f2e;
    }
    .i-had-a-few-pothos-plants-in-my-home-office-that-were-getting-too-big-they-were-beginning-to-take-over-my-desk-and-even-starting-to-attach-themselves-to-my-wall-for-extra-support-that-gave-me-the-idea-to-make-a-trellis-to-keep-them-contained-i-had-considered-buying-one-for-a-split-second-but-thats-not-really-my-style-i-had-some-old-embroidery-hops-from-afloral-wreath-craft-projectand-decided-that-the-circles-would-make-a-decorative-trellis-that-could-also-be-used-as-wall-artread-the-whole-post-Kmh-sub-4 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #711f2e;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-vfbd-QEj {
    width: calc(100% - 14.1rem);
    height: 15.5rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 7rem 0rem 7.1rem;

    .we-are-always-exploring-more-and-more--Xq9 {
      height: 7.8rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      font-size: 6.4rem;
      color: #711f2e;
      font-family: Inter, 'Source Sans Pro';
      width: 129.9rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .upcycling-project-items-2024-qqq {
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.2125;
      height: 7.8rem;
      left: 30.1rem;
      top: 7.7rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 93.7rem;
      position: absolute;
      color: #000000;
    }
  }
}
