
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-vgX {
  overflow: hidden;
  background-color: #e9ecf3;
  width: 100%;
  height: 475.2rem;
  position: relative;

  .upcycled-items-ecX {
    width: 44rem;
    height: 6.6rem;
    top: 0;
    display: flex;
    line-height: 1.1;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    left: 48.6rem;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: -0.2rem;
    white-space: nowrap;
  }
  .auto-group-fhlb-KyZ {
    align-items: flex-end;
    width: 91.3rem;
    height: 11.9rem;
    position: absolute;
    left: 2.1rem;
    top: 6.7rem;
    display: flex;
    column-gap: 3rem;

    .auto-group-huct-SoH {
      width: 16rem;
      height: 6.6rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-1-zpo {
        height: 5rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: rgba(102, 168, 50, 0.2599999905);
        width: 16rem;
      }
      .craft-projects-hz7 {
        height: 6.6rem;
        left: 1.2rem;
        top: 0;
        font-size: 2.4rem;
        line-height: 2.75;
        white-space: nowrap;
        width: 13.6rem;
        position: absolute;
        display: flex;
        font-weight: 400;
        letter-spacing: -0.2rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-v3yz-bJo {
      width: 15.1rem;
      height: 6.6rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.2rem;

      .rectangle-2-LGP {
        width: 15.1rem;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
        background-color: rgba(102, 168, 50, 0.2599999905);
      }
      .diy-gifts-eH5 {
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        letter-spacing: -0.2rem;
        color: #000000;
        top: 0;
        display: flex;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 2.75;
        width: 9rem;
        height: 6.6rem;
        left: 3.1rem;
        white-space: nowrap;
      }
    }
    .auto-group-payv-MSP {
      width: 54.2rem;
      height: 11.7rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.2rem;

      .diy-craft-ideas-thD {
        color: #711f2e;
        font-family: Poppins, 'Source Sans Pro';
        height: 6.6rem;
        position: absolute;
        left: 9.4rem;
        display: flex;
        font-size: 6rem;
        font-weight: 500;
        width: 44.8rem;
        top: 0;
        line-height: 1.1;
        letter-spacing: -0.2rem;
        white-space: nowrap;
      }
      .rectangle-3-zVM {
        width: 14.3rem;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 5.4rem;
        background-color: rgba(102, 168, 50, 0.2599999905);
      }
      .seasonal-jhq {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.3rem;
        height: 6.6rem;
        position: absolute;
        font-size: 2.4rem;
        letter-spacing: -0.2rem;
        left: 0;
        top: 5.1rem;
        display: flex;
        font-weight: 400;
        line-height: 2.75;
      }
      .rectangle-4-FRH {
        width: 16.8rem;
        height: 4.5rem;
        position: absolute;
        left: 16rem;
        top: 5.9rem;
        background-color: rgba(102, 168, 50, 0.2599999905);
      }
      .holiday-crafts-C5d {
        height: 6.6rem;
        position: absolute;
        top: 5.1rem;
        font-size: 2.4rem;
        font-family: Poppins, 'Source Sans Pro';
        letter-spacing: -0.2rem;
        color: #000000;
        white-space: nowrap;
        width: 16.6rem;
        left: 16rem;
        display: flex;
        font-weight: 400;
        line-height: 2.75;
      }
      .rectangle-5-tj9 {
        top: 5.9rem;
        background-color: rgba(102, 168, 50, 0.2599999905);
        width: 15.3rem;
        height: 4.5rem;
        position: absolute;
        left: 36.2rem;
      }
      .about-qPV {
        top: 5.1rem;
        display: flex;
        font-size: 2.4rem;
        font-weight: 400;
        letter-spacing: -0.2rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 6.9rem;
        left: 36.2rem;
        white-space: nowrap;
        line-height: 2.75;
        color: #000000;
        height: 6.6rem;
        position: absolute;
      }
    }
  }
  .auto-group-rbtv-X1R {
    height: 83.2rem;
    position: absolute;
    left: 2.1rem;
    top: 18.7rem;
    display: flex;
    align-items: flex-end;
    width: 164.7rem;

    .auto-group-njo1-EAj {
      margin: 0rem 3rem 3.3rem 0rem;
      width: 117rem;
      height: 79.9rem;
      position: relative;
      flex-shrink: 0;

      .diy-succulent-planter-ideas-1-LUf {
        width: 117rem;
        height: 73.5rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .here-we-are-making-soda-cans-into-plantating-herbs-g2j {
        top: 73.3rem;
        font-size: 4rem;
        color: #3f21f6;
        height: 6.6rem;
        left: 5rem;
        display: flex;
        font-weight: 400;
        line-height: 1.65;
        letter-spacing: -0.2rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 103.1rem;
        position: absolute;
      }
    }
    .what-is-upcycle-LNB {
      margin: 0rem 9.4rem 37.5rem 0rem;
      max-width: 17.1rem;
      font-size: 4rem;
      letter-spacing: -0.2rem;
      color: #3f21f6;
      display: flex;
      font-weight: 800;
      line-height: 1.65;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .more-ds5 {
      display: flex;
      font-size: 6rem;
      font-weight: 300;
      line-height: 1.1;
      color: #711f2e;
      white-space: nowrap;
      letter-spacing: -0.2rem;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .remove-labels-from-glass-jars-to-use-as-food-or-craft-storage-NJs {
    height: 6.6rem;
    left: 4.3rem;
    font-family: Poppins, 'Source Sans Pro';
    width: 137.2rem;
    font-size: 4.8rem;
    white-space: nowrap;
    position: absolute;
    line-height: 1.375;
    letter-spacing: -0.2rem;
    color: #711f2e;
    top: 102.3rem;
    font-weight: 300;
    text-decoration-line: underline;
    display: flex;
  }
  .auto-group-xrmq-qCT {
    display: flex;
    align-items: center;
    width: 129.7rem;
    height: 59.4rem;
    position: absolute;
    left: 4.3rem;
    top: 111.5rem;

    .craft-storage-mason-jars-1-y3m {
      margin-right: 3.4rem;
      width: 62.3rem;
      height: 59.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .diy-bathroom-storage-jars-1-tgX {
      width: 64rem;
      height: 59.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .jars-can-be-reused-for-so-many-storage-options-food-craft-supplies-beauty-items-etc-learn-how-to-easily-get-those-stubborn-labels-off-and-upcycle-your-jars-q5y {
    position: absolute;
    top: 170.9rem;
    font-size: 3.2rem;
    letter-spacing: -0.2rem;
    color: #000000;
    width: 127.9rem;
    height: 19.8rem;
    left: 4.3rem;
    display: flex;
    font-weight: 300;
    line-height: 2.0625;
    font-family: Poppins, 'Source Sans Pro';
  }
  .self-draining-planter-1-g6b {
    vertical-align: top;
    width: 126.6rem;
    height: 96.3rem;
    position: absolute;
    left: 7.4rem;
    top: 253.8rem;
    object-fit: cover;
  }
  .reuse-oatmeal-container-to-organize-your-vanity-oatmeal-containers-are-perfect-for-organizing-lotion-bottles-deodorant-and-brushes-on-your-dresser-or-vanity-a-little-bit-of-rope-and-hot-glue-go-a-long-way-ive-had-these-on-my-dresser-for-years-i-love-them-AnT {
    line-height: 2.0625;
    font-family: Poppins, 'Source Sans Pro';
    width: 132.5rem;
    position: absolute;
    top: 350.6rem;
    font-weight: 300;
    letter-spacing: -0.2rem;
    color: #000000;
    height: 39.6rem;
    left: 4.3rem;
    display: flex;
    font-size: 3.2rem;

    .reuse-oatmeal-container-to-organize-your-vanity-oatmeal-containers-are-perfect-for-organizing-lotion-bottles-deodorant-and-brushes-on-your-dresser-or-vanity-a-little-bit-of-rope-and-hot-glue-go-a-long-way-ive-had-these-on-my-dresser-for-years-i-love-them-AnT-sub-0 {
      letter-spacing: -0.2rem;
      color: #711f2e;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 300;
      line-height: 1.03125;
    }
    .reuse-oatmeal-container-to-organize-your-vanity-oatmeal-containers-are-perfect-for-organizing-lotion-bottles-deodorant-and-brushes-on-your-dresser-or-vanity-a-little-bit-of-rope-and-hot-glue-go-a-long-way-ive-had-these-on-my-dresser-for-years-i-love-them-AnT-sub-1 {
    }
  }
  .diy-roped-dresser-organizer-from-oatmeal-container-3-1-aNK {
    vertical-align: top;
    width: 112.6rem;
    height: 67rem;
    position: absolute;
    left: 7.4rem;
    top: 394.1rem;
    object-fit: cover;
  }
}
