
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 77.7rem;
}.free-printable-gift-card-holder-template-Sb1 {
  width: 100%;
  font-size: 4rem;
  line-height: 1.2125;
  text-decoration-line: underline;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  height: 4.9rem;
  font-weight: 500;
  color: #000000;
}
