
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.signup-kNK {
  background-color: #f8fafc;
  box-sizing: border-box;
  padding: 0rem 38.767rem 0rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;

  .auto-group-vurm-Neb {
    flex-shrink: 0;
    margin: 0rem 1.079rem 0.5rem 0rem;
    width: 60.821rem;
    height: 101.9rem;
    position: relative;

    .bg-7u1 {
      height: 101.9rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 60.821rem;
    }
    .text-content-3nf {
      height: 76.1099rem;
      position: absolute;
      left: 9.4rem;
      top: 13.8rem;
      width: 36.5rem;

      .title-ups {
        margin-bottom: 25.0146rem;
        display: flex;
        flex-direction: column;

        .reuse-the-items-bxb {
          color: #ffffff;
          margin-bottom: 3.0304rem;
          font-size: 6rem;
          font-weight: 600;
          letter-spacing: -0.2rem;
          max-width: 29.4rem;
          line-height: 1.1;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .clarity-gives-you-the-blocks-components-you-need-to-create-a-truly-professional-website-eR5 {
          line-height: 1.6666666667;
          color: #cbd5e1;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 30.7rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .quote-Xzf {
        width: 100%;
        display: flex;
        flex-direction: column;

        .review-Hiw {
          margin: 0rem 0rem 3.306rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .star-1-QYf {
            margin: 0rem 0.63rem 0rem 0rem;
            width: 1.8097rem;
            height: 2.4239rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .star-2-8jZ {
            height: 2.424rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.6301rem;
            width: 1.8097rem;
          }
          .star-3-TWw {
            width: 1.8098rem;
            height: 2.4239rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.63rem 0rem 0rem;
          }
          .star-4-bd9 {
            height: 2.424rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.63rem 0rem 0rem;
            width: 1.8097rem;
          }
          .star-5-jUT {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0rem;
            width: 1.8097rem;
            height: 2.424rem;
            object-fit: contain;
          }
        }
        .auto-group-shtb-erK {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 20.1353rem;

          .we-love-landingfolio-our-designers-were-using-it-for-their-projects-so-we-already-knew-what-kind-of-design-they-want-cHM {
            position: absolute;
            top: 0;
            font-size: 2.1rem;
            line-height: 1.619047619;
            font-family: Poppins, 'Source Sans Pro';
            width: 36.5rem;
            height: 13.6rem;
            color: #ffffff;
            left: 0;
            font-weight: 400;
          }
          .user-Tao {
            height: 7.95rem;
            align-items: center;
            border-radius: 15.847rem;
            box-sizing: border-box;
            padding-right: 3.696rem;
            width: 17.2106rem;
            position: absolute;
            left: 0.0008rem;
            top: 12.1853rem;
            display: flex;

            .bg-Ksu {
              flex-shrink: 0;
              margin: 0.845rem 1.179rem 0rem 0rem;
              width: 3.5358rem;
              height: 4.9573rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 15.847rem;
            }
            .auto-group-pqik-Q8f {
              height: 100%;
              position: relative;
              flex-shrink: 0;
              width: 8.8rem;

              .co-founder-designco-ur7 {
                top: 3.55rem;
                display: flex;
                font-size: 1.4rem;
                font-weight: 400;
                width: 8.8rem;
                height: 4.4rem;
                position: absolute;
                left: 0;
                font-family: Poppins, 'Source Sans Pro';
                line-height: 1.5714285714;
                color: #cbd5e1;
              }
              .pawan-yadav-Nzb {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.75;
                color: #ffffff;
                height: 5.6rem;
                position: absolute;
                left: 1.8076rem;
                top: 0;
                width: 5.5rem;
                display: flex;
                letter-spacing: -0.02rem;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
  .input-content-G4P {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 6.5825rem;

    .title-DEX {
      margin-bottom: 1.4918rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .join-clarity-NdD {
        margin-bottom: 1.8048rem;
        max-width: 16.3rem;
        font-weight: 600;
        line-height: 1.1923076923;
        color: #080814;
        font-size: 5.2rem;
        letter-spacing: -0.2rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .clarity-gives-you-the-blocks-and-components-you-need-to-create-a-truly-professional-website-5Gj {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 1.9158rem;
        max-width: 35.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: #52525b;
      }
    }
    .input-mfM {
      flex-shrink: 0;
      margin: 0rem 0rem 2.982rem 1.916rem;
      width: 41.4174rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .email-tEB {
        margin: 0rem 0.079rem 0.685rem 0rem;
        width: 41.3388rem;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .full-name-pdd {
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 0.1343rem;
          max-width: 4.8rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #080814;
        }
        .bg-kXH {
          box-sizing: border-box;
          background-color: #f8fafc;
          border-radius: 1.2rem;
          margin-left: 0rem;
          width: calc(100% - 0rem);
          height: 6.6112rem;
          border: solid 0.1rem #cbd5e1;
        }
      }
      .email-qod {
        width: 41.3388rem;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin: 0rem 0.079rem 0.685rem 0rem;

        .email-address-zRd {
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #080814;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 0.1343rem;
          max-width: 6.6rem;
        }
        .bg-7FM {
          background-color: #f8fafc;
          border-radius: 1.2rem;
          margin-left: 0rem;
          width: calc(100% - 0rem);
          height: 6.6112rem;
          border: solid 0.1rem #cbd5e1;
          box-sizing: border-box;
        }
      }
      .password-dUb {
        box-sizing: border-box;
        padding-bottom: 0rem;
        width: 41.3388rem;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin: 0rem 0.079rem 3.306rem 0rem;

        .password-AUX {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #080814;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 0.1343rem;
          max-width: 6.1rem;
          display: flex;
        }
        .bg-uS7 {
          border: solid 0.1rem #cbd5e1;
          box-sizing: border-box;
          background-color: #f8fafc;
          border-radius: 1.2rem;
          margin-left: 0rem;
          width: calc(100% - 0rem);
          height: 6.6112rem;
        }
      }
      .text-qKm {
        box-sizing: border-box;
        padding-right: 2.2025rem;
        height: 4.4rem;
        display: flex;
        align-items: center;
        margin-left: 0rem;
        width: calc(100% - 0rem);
        border-radius: 0.5rem;
        flex-shrink: 0;

        .check-NKh {
          padding: 0rem 0.052rem 0rem 0rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 21.0624rem;
          box-sizing: border-box;

          .shape-uaX {
            height: 2.0935rem;
            border: solid 0.1rem #94a3b8;
            box-sizing: border-box;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin: 0.11rem 0.707rem 0rem 0rem;
            width: 1.4932rem;
          }
          .remember-me-pSb {
            line-height: 1.5714285714;
            color: #18181b;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 8.2rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .forgot-password-wXD {
          color: #2563eb;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 7.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
        }
      }
    }
    .button-primary-with-icon-U1M {
      width: 15.7373rem;
      height: 6.0602rem;
      background-color: #2563eb;
      border-radius: 0.9rem;
      flex-shrink: 0;
      margin: 0rem 0rem 1.266rem 1.916rem;
      box-sizing: border-box;
      padding: 1.63rem 0rem 1.63rem 3.237rem;

      .frame-1-jhy {
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.75;
        letter-spacing: -0.02rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 100%;
        height: 100%;
        justify-content: center;
      }
    }
    .dont-have-an-account-create-free-account-doM {
      margin-left: 1.9158rem;
      font-size: 1.4rem;
      flex-shrink: 0;
      font-family: Poppins, 'Source Sans Pro';
      max-width: 21.4rem;
      display: flex;
      font-weight: 400;
      line-height: 1.5714285714;
      color: #64748b;

      .dont-have-an-account-create-free-account-doM-sub-0 {
      }
      .dont-have-an-account-create-free-account-doM-sub-1 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.6153846154;
        color: #2563eb;
      }
    }
  }
}
